TO GET THE SIZE OF THE SET

In [1]:
import sys
set1 = ("A",1,2,3,4,5,"h","j")
set2 = ("A",1,2,3,4,5)
print("Size of ",set1," = ",sys.getsizeof(set1))
print("Size of ",set2," = ",sys.getsizeof(set2))

Size of  ('A', 1, 2, 3, 4, 5, 'h', 'j')  =  52
Size of  ('A', 1, 2, 3, 4, 5)  =  44

ITERATING OVER THE SET

In [2]:
set1 = ("A",1,2,3,4,5,"h","j")
for val in set1:
    print(val,end=" ")
print()  
for i in range(len(set1)):
    print(set1[i],end=" ")

A 1 2 3 4 5 h j
A 1 2 3 4 5 h j

FIND THE MINIMUM AND MAXIMUM IN A SET

In [3]:
Set = set([1,5,63,4,3,23,423,42,34,5,3,43,4])
Set1 = set(["a","B","c","d","z","Z"])
print("Maximum of Set = " ,max(Set))
print("Minimum of the Set = ",min(Set))
print("Maximum of Set1 = " ,max(Set1))
print("Minimum of the Set1= ",min(Set1))

Maximum of Set =  423
Minimum of the Set =  1
Maximum of Set1 =  z
Minimum of the Set1=  B

REMOVE ITEMS FROM SET

In [4]:
def Remove(val,Set):
    for i in Set:
        if i==val:
            Set.remove(i)
            break
Set = set([1,5,63,4,3,23,423,42,34,5,3,43,4])
print("TO REMOVE SPECIFIC VALUES")
print("BEFORE = ",Set)
Remove(5,Set)
print("AFTER = ",Set)

TO REMOVE SPECIFIC VALUES
BEFORE =  {1, 34, 3, 4, 5, 423, 42, 43, 23, 63}
AFTER =  {1, 34, 3, 4, 423, 42, 43, 23, 63}

To check if 2 list has any common element

In [5]:
a = [1,2,3,234,234,23,43,4,43,4,343,4,34,2,12,3,3432,42]
b=[1009,1]
res = False
for i in a:
    for j in b:
        if i == j:
            res =True
            break
    


print(res)

True

CSV MANIPULATION

In [9]:
import pandas as pd
df = pd.read_csv("trial.csv")
df.loc[5, 'Name'] = 'Sam Abraham'
df.to_csv("trial.csv", index=False)
print(df)

   Sno  Regristation Number                     Name     RollNo Status
0    1             11913907              Molly Singh  RK19TSA01      P
1    2             11918698      Vaishnavi choudhary  RK19TSA02      P
2    3             12000722            Animesh Singh  RK19TSA03      P
3    4             12003178              Yash Panwar  RK19TSA04      P
4    5             12005300           Kallem Kruthik  RK19TSA05      P
5    6             11902981              Sam Abraham  20BCE0986      P
6    7             11902825  Bhimavarapu Pavan Reddy  RK19TSA07      P
7    8             11902721         Mainam Siddhardh  RK19TSA08      P

In [5]:
import pandas as pd
file = pd.read_csv("trial.csv")
headerl = ["SLNO","REGISTRATION","NAME","ROLLNO","STATUS"]
file.to_csv("trial.csv" , header = headerl ,index = False)
print(file)

   SLNO  REGISTRATION                     NAME     ROLLNO STATUS
0     1      11913907              Molly Singh  RK19TSA01      P
1     2      11918698      Vaishnavi choudhary  RK19TSA02      P
2     3      12000722            Animesh Singh  RK19TSA03      P
3     4      12003178              Yash Panwar  RK19TSA04      P
4     5      12005300           Kallem Kruthik  RK19TSA05      P
5     6      11902981              Sam Abraham  20BCE0986      P
6     7      11902825  Bhimavarapu Pavan Reddy  RK19TSA07      P
7     8      11902721         Mainam Siddhardh  RK19TSA08      P

In [28]:
import csv
file = open("reg.csv")
file = csv.reader(file)
rows=[]
for row in file:
    rows.append(row)
    break

print(rows)

[['SLNO', 'REGISTRATION', 'NAME', 'ROLLNO', 'STATUS']]

In [25]:
import pandas as pd
import csv

# opening the csv file in 'w' mode
file = open('company.csv', 'w', newline ='')

with file:
	# identifying header
	header = ['Organization', 'Established', 'CEO']
	writer = csv.DictWriter(file, fieldnames = header)
	
	# writing data row-wise into the csv file
	writer.writeheader()
	writer.writerow({'Organization' : 'Google',
					'Established': '1998',
					'CEO': 'Sundar Pichai'})
	writer.writerow({'Organization' : 'Microsoft',
					'Established': '1975',
					'CEO': 'Satya Nadella'})
	writer.writerow({'Organization' : 'Nokia',
					'Established': '1865',
					'CEO': 'Rajeev Suri'})
file = pd.read_csv("company.csv")
print(file)

  Organization  Established            CEO
0       Google         1998  Sundar Pichai
1    Microsoft         1975  Satya Nadella
2        Nokia         1865    Rajeev Suri

In [31]:
import pandas as pd
df1 = pd.read_json('file1.json')
df2 = pd.read_json('file2.json')
df = pd.concat([df1,df2])
print(df)
df.to_csv("CSV.csv",index=False)
result = pd.read_csv("CSV.csv")
# print(result)

   ID     Name  Marks Grade
0  23      Ram     89     B
1  43     Deep     97     A
2  12     Yash     45     F
3  13     Aman     78     C
4  67    Arjun     56     E
5  89   Aditya     76     C
0  90    Akash     81     B
1  56  Chalsea     87     B
2  34    Divya    100     A
3  96    Sajal     89     B
4  45  Shubham     78     C

STRING MANUPILATION

In [35]:
a = input("Enter the string: ")
if(a[::-1]==a):
    print("Pallindrome")
else:
    print("Not Pallindrome")

Not Pallindrome

In [39]:
a = input("Enter the String:")
a = a.split(" ")[::-1]
for i in a :
    print(i,end=" ")

good is sam

In [40]:
str = "Sam is a Cse Student"
a = int(input("Enter the index to be removed: "))
b=""
for i in range(len(str)):
    if(i == a):
        continue
    else:
        b+=str[i]
print("New String : ",b)

New String :  am is a Cse Student

In [48]:
str = "Sam Abraham joshy"
print("Length 1 = ",len(str))

counter=0
for i in str:
    counter+=1
print("Length 2 = ",counter)

def Len(str):
	counter = 0
	while str[counter:]:
		counter += 1
	return counter
print("Length 3 = ",Len(str))

 
def Len1(string):
    return sum( 1 for i in string)
 
print("Length 4 = ",Len1(str))

Length 1 =  17
Length 2 =  17
Length 3 =  17
Length 4 =  17

In [53]:
a = "Sam hi Abraham joshy Helloo"
a = a.split(" ")
for i in a : 
    if(len(i)%2 == 0):
        print(i ,end=" ")

hi Helloo